@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Contador</h1>

<p role="status">Contador Actual: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Tócame</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
